.image-card {
  padding: 1rem;
  max-width: fit-content;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: center;
}

.image {
  height: 250px;
  object-fit: cover;
  display: block;
  border-radius: 4px;
  overflow: hidden;
}

.title {
  font-size: 1.2rem;
  margin-top: 0.5rem;
  font-weight: bold;
}

.description {
  font-size: 1rem;
  color: #555;
  margin-top: 0.25rem;
}
